# ==========================
# Python
# ==========================

__pycache__/
*.pyc
*.pyo
*.pyd

# ==========================
# Virtual environments
# ==========================

.venv/
.env

# ==========================
# Environment files
# ==========================

.env.local
.env

# ==========================
# Logs
# ==========================

*.log

# ==========================
# OS files
# ==========================

.DS_Store
Thumbs.db

# ==========================
# VS Code
# ==========================

.vscode/

# ==========================
# Build files
# ==========================

dist/
build/
*.egg-info/

# ==========================
# Jupyter
# ==========================

.ipynb_checkpoints
node_modules/